body {
    font-family:     Verdana, Geneva, Arial, sans-serif;
}

hr.style-four {
    border: 1.5px solid #007e7e;
}

h1, h2 {    
	color: black;
}
#w3button1,
#w3button2{
    position: absolute;
    top:330px;
    cursor: pointer;
}
#w3button1{ left:10px;}
#w3button2{ right:960px;}
#slide{
    border:4px outset #006400;
    height:200px;
    width:200px;
}
h1 {
  font-family:     sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}

p.su{
    width: 100px;
    padding: 2px;
    background-color:hsla(370, 100%, 50%, 0.2);
    margin: .2em;
    box-sizing: border-box ;
}
p.au{
    width: 100px;
    padding: 2px;
    background-color:hsla(30, 100%, 50%, 0.2);
    margin: .2em;
    box-sizing: border-box ;
}
p.wi{
    width: 100px;
    padding: 2px;
    background-color:hsla(240, 100%, 50%, 0.2);
    margin: .2em;
    box-sizing: border-box ;
}
p.sp{
    width: 100px;
    padding: 2px;
    background-color:hsla(100, 100%, 50%, 0.2);
    margin: .2em;
    box-sizing: border-box ;
}
p.sp:hover,
p.su:hover,
p.au:hover,
p.wi:hover{
    width: 150px;
}
p.sp,p.su,p.au,p.wi{
    -webkit-transition: width 1s;
            transition: width 1s;
}
p.sp,p.su,p.au,p.wi{
    color: maroon;
    font-size : 20px;
}
